{%load static%}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nutrition</title>
<link href="{%static 'css/base1.css'%}" rel="stylesheet">
</head>
<body>
<div class="header">
<ul class="nav">
<li><a href={%url 'home' %}><i class="glyphicon glyphicon-new-window"></i>
</a></li>
<li><a href="{%url 'nutrition_home'%}">Home</a></li>
<li><a href="{%url 'nutrifile'%}">Nutrifile</a></li>
<li><a href="">Recipees</a></li>
<li><a href="{%url 'post_list'%}">Community</a></li>
{%if user.is_authenticated%}
<li style="float:right"><a href="{%url 'account_settings'%}"><i class="glyphicon glyphicon-cog"></i></a></li>
<li style="float:right;color:red">{{user.username}}</li>
{%else%}
<li style="float:right"><a href="{%url 'login'%}">Login</a></li>
<li style="float:right"><a href="{%url 'sign_up'%}">SignUp</a></li>
{%endif%}
</ul>
</div> 
{%block content%}
{%endblock content%}
<div class="footer col-12">
<div class="footer-logo">Nutrition</div>
<div class="footer-list">
    <ul>
        <li style="font-weight: normal;list-style-type:none;"><a href="">About</a></li>
        <li style="font-weight: normal;list-style-type:none;"><a href="">Contact</a></li>
        <li style="font-weight: normal;list-style-type:none;"><a href="">Chronology</a></li>
    </ul>
</div>
</div>
<script src="{%static 'js/filter.js'%}"></script>
 <!-- Latest compiled and minified CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 <!-- jQuery library -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 
 <!-- Latest compiled JavaScript -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 

</body>
</html>
