{%load static%}
<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Nutrition</title>
<link href="{%static 'css/base1.css'%}" rel="stylesheet">
</head>
<body>
<header>
<ul class="nav">
<li><a href={%url 'home'%}><i class="glyphicon glyphicon-circle-arrow-left"></i></a></li>
<li><a href="">Home</a></li>
<li><a href="">Nutrifile</a></li>
<li><a href="">Recipees</a></li>
<li><a href="{%url 'post_list'%}">Community</a></li>
{%if user.is_authenticated%}
<li style="float:right"><a href="{%url 'account_settings'%}"><i class="glyphicon glyphicon-cog"></i></a></li>
<li style="float:right;color:red">{{user.username}}</li>
{%else%}
<li style="float:right"><a href="{%url 'login'%}">Login</a></li>
<li style="float:right"><a href="{%url 'sign_up'%}">SignUp</a></li>
{%endif%}
</ul>
</header>
<div>
{%block content%}
{%endblock content%}
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
