{%extends 'base1.html'%}
{%block title%}Community{%endblock title%}
{%block content%}
{%for post in object_list%}
<div class="card">
<div class="card-header">
<span class="font-weight-bold"><a href="{%url 'post_detail' post.pk%}">{{post.subject}}</a></span>&middot;
<span class="text-muted">by {{post.author}}|
{{post.date}}</span>
</div>
<div class="card-body">
{{post.body}}
</div>
<div class="card-footer text-center text-muted">
<a href="#">Edit</a>|<a href="#">Delete</a>
</div>
</div>
<br/>
{%endfor %}
{%endblock content%}